In [1]:
import pymongo
from pymongo import MongoClient
client = MongoClient("localhost", 27017) #On se connecte a MongoDB

In [7]:
#Affiche la liste des bases de données
print("\nListe des base de données")
for name in client.list_database_names():
    print(name)

Liste des base de données
admin
config
local

# Créer 1è DB "metflix" qui contient 1collection "movies" dans laquelle vs inserez les documents suivants : Comparer le comportement du shell Mongo et Python

In [9]:
# Permet de créer une base de donnée nommé metflix
metflix = client["metflix"]

In [10]:
# Permet de crée une collection dans la base de donnée metflix nommée "movies"
collection = metflix["movies"]

In [11]:
# Permet de créer un dictionnaire
mydico = { "title" : "Rocky" , "year" : 1976 , "_id" : "tt0075148" }

In [12]:
# Permet d'insérer un dictionnaire dans une collection
x = collection.insert_one(mydico)

<pymongo.results.InsertOneResult object at 0x00000201C236C640>

In [13]:
# Permet d'afficher le contenus d'une collection
for y in collection.find():
    print(y)

{'_id': 'tt0075148', 'title': 'Rocky', 'year': 1976}

In [14]:
mydico2 = {"Prénom" : "Gérard","Nom":"Ngindu"}

In [15]:
user = metflix["users"]

In [23]:
client.drop_database("metflix")

In [24]:
metflix = client["metflix"]

In [25]:
client.drop_database("collection")

In [26]:
coll = metflix["movies"]

In [28]:
#Permet de créer un dictionnaire avec plusieurs entrée, si un id existe déja
# Il affichera "Erreur Insertion"
Malist = [{ "title" : "Rocky", "year" : 1976, "_id" : "tt0075148"},
          { "title": "Jaws", "year" : 1975, "_id" : "tt0073195"},
          { "title": "Mad Max 2", "year" : 1981, "_id" : "tt0082694"},
          { "title": "Raiders of the Lost Ark", "year" : 1981, "_id" : "tt0082971"}
         ]
try:
    x = coll.insert_many(Malist)
except:
    print("Erreur Insertion")

Erreur Insertion

In [32]:
print("\nAffiche tous les documents de la collection 'movie':")
for y in coll.find():
    print(y)

Affiche tous les documents de la collection 'movie':
{'_id': 'tt0075148', 'title': 'Rocky', 'year': 1976}
{'_id': 'tt0073195', 'title': 'Jaws', 'year': 1975}
{'_id': 'tt0082694', 'title': 'Mad Max 2', 'year': 1981}
{'_id': 'tt0082971', 'title': 'Raiders of the Lost Ark', 'year': 1981}

In [33]:
print("Affiche le premier document de la collection 'movie':")
x = coll.find_one()
print(x)

Affiche le premier document de la collection 'movie':
{'_id': 'tt0075148', 'title': 'Rocky', 'year': 1976}

In [34]:
print("Affiche les documents ou on trouve les films produits en 1981:")
Proposition = { "year": 1981 }
Reponse2 =coll.find(Proposition)
for x in Reponse2:
  print(x)

Affiche les documents ou on trouve les films produits en 1981:
{'_id': 'tt0082694', 'title': 'Mad Max 2', 'year': 1981}
{'_id': 'tt0082971', 'title': 'Raiders of the Lost Ark', 'year': 1981}

In [35]:
print("Affiche les documents ou on trouve le film qui porte le titre 'Jaws':")
Proposition = { "title": "Jaws" }
Reponse2 =coll.find(Proposition)
for x in Reponse2:
  print(x)

Affiche les documents ou on trouve le film qui porte le titre 'Jaws':
{'_id': 'tt0073195', 'title': 'Jaws', 'year': 1975}

Q : Créer une DB movies_artists avec deux collections : une pour les films et l’autre pour les artistes

In [36]:
import json

In [42]:
movies_artists = client["movies_artists"]

In [43]:
films = movies_artists["film"]
artistes = movies_artists["artiste"]

In [51]:
from pprint import pprint #permet d'avoir un affichage plus propre,remplace le pretty()
# Permet d'afficher le contenus d'une collection
print("\n On affiche le contenus de la collections FILM")
for y in films.find():
    pprint(y)

 On affiche le contenus de la collections FILM
{'_id': 'movie:92',
 'actors': [],
 'country': 'FR',
 'director': {'_id': 'artist:281'},
 'genre': 'drama',
 'summary': 'D’un petit village du sud de l’Iran aux cités parisiennes, '
            'Kheiron nous raconte le destin hors du commun de ses parents '
            'Hibat et Fereshteh, éternels optimistes, dans une comédie aux '
            'airs de conte universel qui évoque l’amour familial, le don de '
            'soi et surtout l’idéal d’un vivre-ensemble. ',
 'title': 'Nous trois ou rien',
 'year': 2015}
{'_id': 'movie:91',
 'actors': [{'_id': 'artist:279', 'role': 'Malik El Djebena '},
            {'_id': 'artist:280', 'role': 'César Luciani'}],
 'country': 'FR',
 'director': {'_id': 'artist:278'},
 'genre': 'drama',
 'summary': 'Condamné à six ans de prison, Malik El Djebena ne sait ni lire, '
            'ni écrire. A son arrivée en Centrale, seul au monde, il paraît '
            'plus jeune, plus fragile que les autres détenus. Il a 19 ans. '
            "D'emblée, il tombe sous la coupe d'un groupe de prisonniers "
            'corses qui fait régner sa loi dans la prison. Le jeune homme '
            'apprend vite. Au fil des " missions ", il s\'endurcit et gagne la '
            'confiance des Corses.Mais, très vite, Malik utilise toute son '
            'intelligence pour développer discrètement son propre réseau...',
 'title': 'Un prophète',
 'year': 2009}
{'_id': 'movie:90',
 'actors': [{'_id': 'artist:22', 'role': 'Lucius Fox'},
            {'_id': 'artist:116', 'role': 'Commissioner Gordon'},
            {'_id': 'artist:268', 'role': 'Selina'},
            {'_id': 'artist:269', 'role': 'Alfred'},
            {'_id': 'artist:271', 'role': 'Miranda'},
            {'_id': 'artist:274', 'role': 'Bruce Wayne / Batman'}],
 'country': 'USA',
 'director': {'_id': 'artist:266'},
 'genre': 'Science-fiction',
 'summary': 'Il y a huit ans, Batman a disparu dans la nuit : lui qui était un '
            "héros est alors devenu un fugitif. S'accusant de la mort du "
            'procureur-adjoint Harvey Dent, le Chevalier Noir a tout sacrifié '
            'au last_name de ce que le commissaire Gordon et lui-même '
            'considéraient être une noble cause. Et leurs actions conjointes '
            'se sont avérées efficaces pour un temps puisque la criminalité a '
            "été éradiquée à Gotham City grâce à l'arsenal de lois répressif "
            "initié par Dent.Mais c'est un chat – aux intentions obscures – "
            'aussi rusé que voleur qui va tout bouleverser. À moins que ce ne '
            "soit l'arrivée à Gotham de Bane, terroriste masqué, qui compte "
            "bien arracher Bruce à l'exil qu'il s'est imposé. Pourtant, même "
            'si ce dernier est prêt à endosser de nouveau la cape et le casque '
            "du Chevalier Noir, Batman n'est peut-être plus de taille à "
            'affronter Bane…',
 'title': 'The Dark Knight Rises',
 'year': 2012}

In [52]:
# Permet d'afficher maximum 12 nom de film et de les trier par film croissant
print("\n On affiche 12 film maximum")
for y in films.find({},{"_id":0, "title":1}).limit(12).sort("title",1):
    pprint(y)

 On affiche le contenus de la collections FILM
{'title': 'Nous trois ou rien'}
{'title': 'The Dark Knight Rises'}
{'title': 'Un prophète'}

In [54]:
# Permet d'afficher maximum 12 nom de film et de les trier par film decroissant
print("\n On affiche 12 film maximum")
for y in films.find({},{"_id":0, "title":1}).limit(12).sort("title",-1):
    pprint(y)

 On affiche 12 film maximum
{'title': 'Un prophète'}
{'title': 'The Dark Knight Rises'}
{'title': 'Nous trois ou rien'}

In [57]:
for name in movies_artists.list_collection_names():
    print(name)

artiste
film